<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content="<%= csrf_meta_tag %>"/>
    <title><%= page_title %></title>
    <script defer type="text/javascript" src="index.js"></script>
  </head>
  <body>
    <header>
    </header>
    <%- inner_content %>
  </body>
</html>