<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    LiveViewJS Examples
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>

<body>
  <header>
    <h1>
      LiveViewJS Examples
    </h1>
  </header>

  <% routes.forEach((route) => { %>
    <h3><%=route.label %></h3>
    <a href="<%=route.path %>">Demo</a>
    <p>
      <%=route.summary %>
    </p>
    <h6>Tags<h6>
    <p>
      <% route.tags.forEach((tag) => { %>
        <mark><%=tag %></mark>
      <% }) %>
    </p>
    <hr />
  <%})%>

</body>

</html>